In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('data/Books.csv')
ratings = pd.read_csv('data/Ratings.csv')
users = pd.read_csv('data/Users.csv')

C:\Users\sande\AppData\Local\Temp\ipykernel_13816\3234174083.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('data/Books.csv')

In [3]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [4]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
## missing values
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [6]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [7]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [8]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [9]:
print(books.duplicated().sum())
print(users.duplicated().sum())
print(ratings.duplicated().sum())

0
0
0

In [10]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

## popularity based recommendation system

In [11]:
df_ratings_name = ratings.merge(books,on=['ISBN'])

In [12]:
df_ratings_name.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [13]:
# find the top 50 books with highest average ratings where no. of ratings is greater than 250,along with title,author

In [14]:
#avg_rating
df_avg_rating = df_ratings_name.groupby('Book-Title')['Book-Rating'].mean().reset_index()
df_avg_rating.rename(columns={'Book-Rating':'avg-rating'},inplace=True)

In [15]:
df_avg_rating.head()

                                          Book-Title  avg-rating
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00
2               Apple Magic (The Collector's series)        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...        8.00
4   Beyond IBM: Leadership Marketing and Finance ...        0.00

In [16]:
#num_ratings
df_num_rating = df_ratings_name.groupby('Book-Title')['Book-Rating'].count().reset_index()
df_num_rating.rename(columns={'Book-Rating':'num-rating'}, inplace=True)
df_num_rating.head()

                                          Book-Title  num-rating
0   A Light in the Storm: The Civil War Diary of ...           4
1                              Always Have Popsicles           1
2               Apple Magic (The Collector's series)           1
3   Ask Lily (Young Women of Faith: Lily Series, ...           1
4   Beyond IBM: Leadership Marketing and Finance ...           1

In [17]:
# merging num_rating and avg_rating
df_num_avg_rating = df_num_rating.merge(df_avg_rating,on=['Book-Title'])
df_num_avg_rating.head()

                                          Book-Title  num-rating  avg-rating
0   A Light in the Storm: The Civil War Diary of ...           4        2.25
1                              Always Have Popsicles           1        0.00
2               Apple Magic (The Collector's series)           1        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...           1        8.00
4   Beyond IBM: Leadership Marketing and Finance ...           1        0.00

In [18]:
# getting the top 50 books which have more than 250 no. of ratings
popular_df = df_num_avg_rating[df_num_avg_rating['num-rating']>250].sort_values('avg-rating',ascending=False).head(50)

In [19]:
popular_df = popular_df.merge(df_ratings_name,on=['Book-Title'])

In [20]:
popular_df.shape

(20187, 12)

In [21]:
popular_df.drop_duplicates('Book-Title',inplace=True)

In [22]:
popular_df.shape

(50, 12)

In [23]:
popular_df.head()

,Book-Title,num-rating,avg-rating,User-ID,ISBN,Book-Rating,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,277427,0439136369,0,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
428,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,278356,0439139600,10,J. K. Rowling,2002,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...
815,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,277427,043936213X,0,J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...,http://images.amazon.com/images/P/043936213X.0...
1093,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,276788,043935806X,7,J. K. Rowling,2003,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
1440,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453,276929,0439064864,0,J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...,http://images.amazon.com/images/P/0439064864.0...

In [24]:
popular_df = popular_df[['Book-Title','Book-Author','Year-Of-Publication','avg-rating','Image-URL-M','num-rating']]

In [25]:
popular_df.columns

Index(['Book-Title', 'Book-Author', 'Year-Of-Publication', 'avg-rating',
       'Image-URL-M', 'num-rating'],
      dtype='object')

## Collaborative filtering recommender system

- It is a techique in which a product is recommended to the user which was used by some other similar users
- The data should contain set of items and set of users who have reacted to some items
- The reaction can be explicit(ratings on some scale like 1 to 5, likes or dislikes) and implicit((viewing an item, adding it to a wish list, the time spent on an item)
- when we want to give the recommendation to the user we will find the similarity between the users
- Now in order to find the similarity between users , Make a graph where different item are our axes, and the users will be the points in the graph

In [26]:
df_ratings_name = df_ratings_name.copy()

In [27]:
df_ratings_name.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [28]:
# finding the user who have voted more than 250 times
x = df_ratings_name.groupby('User-ID').count()['Book-Rating']>250
high_level_user = x[x].index
new_df = df_ratings_name[df_ratings_name['User-ID'].isin(high_level_user)]

In [29]:
new_df.shape

(429537, 10)

In [30]:
# finding the books which have more than 50 votes
y = new_df.groupby('Book-Title').count()['Book-Rating'] > 50
high_level_book = y[y].index
new_df = new_df[new_df['Book-Title'].isin(high_level_book)]

In [31]:
new_df.shape

(43993, 10)

In [32]:
# creating the pivot table for applying cosine similarity
pt = new_df.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')
pt.fillna(0,inplace=True)
pt

User-ID,254,2276,2766,3363,4385,6251,6543,6575,7158,7346,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Without Remorse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [33]:
# finding the cosine similarity i.e similar books
# since our row is vectors of book we will get the similar score for book i.e (item-based )if the our row was of user we will get 
# similar scores for user i.e user-based
from sklearn.metrics.pairwise import cosine_similarity

similarity_scores = cosine_similarity(pt)
similarity_scores.shape
# similarity_scores[0] 1984

(552, 552)

In [34]:
# here each array(similarity_scores[0]) tells similarity scores with every books 
# for example similarity_scores[0] tells us how similar is 1984 with all other books

In [35]:
def recommend(book_name):
    # fetching the index
    index = np.where(pt.index==book_name)[0][0]
    score = similarity_scores[index]
    index_score = list(enumerate(score))
    top_books = sorted(index_score,key=lambda x:x[1],reverse = True)[1:6]
    
    data = []
    for i in top_books:
        book_info = []
        temp_df = books[books['Book-Title']==pt.index[i[0]]]
        # same books might have the different year of publication and different ISBN, but we only need one book
        temp_df = temp_df.drop_duplicates('Book-Title')
        
        book_info.append(temp_df['Book-Title'].values[0])
        book_info.append(temp_df['Book-Author'].values[0])
        book_info.append(temp_df['Year-Of-Publication'].values[0])
        book_info.append(temp_df['Image-URL-M'].values[0])
        
        data.append(book_info)
    
    return data

# data should be the list of lists because in templates we have to use the loop to fetch the details of a book

In [36]:
recommend('Zoya')

[['Fine Things',
  'Danielle Steel',
  1988,
  'http://images.amazon.com/images/P/0440200563.01.MZZZZZZZ.jpg'],
 ['Secrets',
  'DANIELLE STEEL',
  1986,
  'http://images.amazon.com/images/P/0440176484.01.MZZZZZZZ.jpg'],
 ['Kaleidoscope',
  'June Stepansky',
  2000,
  'http://images.amazon.com/images/P/0884092097.01.MZZZZZZZ.jpg'],
 ['Five Days in Paris',
  'DANIELLE STEEL',
  1997,
  'http://images.amazon.com/images/P/0440222842.01.MZZZZZZZ.jpg'],
 ['Message from Nam',
  'Danielle Steel',
  1991,
  'http://images.amazon.com/images/P/0440209412.01.MZZZZZZZ.jpg']]

In [37]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [38]:
recommend('Zoya')

[['Fine Things',
  'Danielle Steel',
  1988,
  'http://images.amazon.com/images/P/0440200563.01.MZZZZZZZ.jpg'],
 ['Secrets',
  'DANIELLE STEEL',
  1986,
  'http://images.amazon.com/images/P/0440176484.01.MZZZZZZZ.jpg'],
 ['Kaleidoscope',
  'June Stepansky',
  2000,
  'http://images.amazon.com/images/P/0884092097.01.MZZZZZZZ.jpg'],
 ['Five Days in Paris',
  'DANIELLE STEEL',
  1997,
  'http://images.amazon.com/images/P/0440222842.01.MZZZZZZZ.jpg'],
 ['Message from Nam',
  'Danielle Steel',
  1991,
  'http://images.amazon.com/images/P/0440209412.01.MZZZZZZZ.jpg']]

1. find the index of the book
2. find the similarity score for the given index i.e similarity score for a book with all other books
3. enumerate the similarity score so that i get the index of book along with there similarity scores
4. fetch the top 5 highest similarity score
5. use the index of the top 5 to get the name, author and image url of book

In [39]:
# import pickle
# pickle.dump(popular_df,open('popular.pkl','wb'))

In [40]:
popular_df.head()

,Book-Title,Book-Author,Year-Of-Publication,avg-rating,Image-URL-M,num-rating
0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2001,5.852804,http://images.amazon.com/images/P/0439136369.0...,428
428,Harry Potter and the Goblet of Fire (Book 4),J. K. Rowling,2002,5.824289,http://images.amazon.com/images/P/0439139600.0...,387
815,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,5.737410,http://images.amazon.com/images/P/043936213X.0...,278
1093,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003,5.501441,http://images.amazon.com/images/P/043935806X.0...,347
1440,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,5.183453,http://images.amazon.com/images/P/0439064864.0...,556

In [41]:
import pickle

temp = pickle.load(open('pickle/popular.pkl','rb'))

In [42]:
# list(temp['Image-URL-M'].values)

In [43]:
# pickle.dump(pt,open('pt.pkl','wb'))
# pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))
# pickle.dump(books,open('books.pkl','wb'))

### user based

In [44]:
df_ratings_name.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [45]:
df_ratings_name.dropna(inplace=True)

In [46]:
x = df_ratings_name.groupby('User-ID').count()['Book-Rating']>100
user_id = x[x].index
df_user = df_ratings_name[df_ratings_name['User-ID'].isin(user_id)]

In [47]:
y = df_ratings_name.groupby('Book-Title').count()['Book-Rating']>50
books = y[y].index
df_books = df_user[df_user['Book-Title'].isin(books)]

In [48]:
pt_user = df_books.pivot_table(index='User-ID',columns='Book-Title',values='Book-Rating')

In [49]:
pt_user.fillna(0,inplace=True)

In [50]:
pt_user

Book-Title,10 Lb. Penalty,16 Lighthouse Road,1984,1st to Die: A Novel,2010: Odyssey Two,204 Rosewood Lane,2061: Odyssey Three,24 Hours,2nd Chance,3rd Degree,...,YOU BELONG TO ME,Year of Wonders,You Belong To Me,You Shall Know Our Velocity,Young Wives,Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,Zoya,"\O\"" Is for Outlaw""","\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",stardust
User-ID,,,,,,,,,,,,,,,,,,,,,
254,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
507,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1424,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1435,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
277639,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278188,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
from sklearn.metrics.pairwise import cosine_similarity

In [52]:
user_similarity = cosine_similarity(pt_user)

In [53]:
def find_similar_user(user_id):
    index = np.where(pt_user.index==user_id)[0][0]
    score = user_similarity[index]
    index_score = list(enumerate(score))
    top_users = sorted(index_score,key=lambda x:x[1],reverse=True)[1:6]
    
    similar_users = []
    for i in top_users:
        similar_users.append(pt_user.index[i[0]])
    
    return similar_users

In [54]:
find_similar_user(882)

[149084, 178181, 202173, 196018, 218569]

In [55]:
index = np.where(pt_user.index==882)[0][0]
print(index)
(user_similarity[index])

2

array([0., 0., 1., ..., 0., 0., 0.])

In [56]:
df_ratings_name.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [57]:
def recommend_books(users):
    books=[]
    for i in users:
        temp_df = df_ratings_name[df_ratings_name['User-ID']==i]
        max_ratings = temp_df['Book-Rating'].max()
        top_preference = temp_df[temp_df['Book-Rating']==max_ratings].iloc[0]
        cols = list(top_preference[['Book-Title','Book-Author','Year-Of-Publication','Image-URL-M']].values)
        books.append(cols)
        
    return books

In [58]:
recommend_books(find_similar_user(882))

[['The Da Vinci Code',
  'Dan Brown',
  2003,
  'http://images.amazon.com/images/P/0385504209.01.MZZZZZZZ.jpg'],
 ['The Womanly Art of Breastfeeding',
  'Gwen Gotsch',
  1997,
  'http://images.amazon.com/images/P/0452279089.01.MZZZZZZZ.jpg'],
 ['The Da Vinci Code',
  'Dan Brown',
  2003,
  'http://images.amazon.com/images/P/0385504209.01.MZZZZZZZ.jpg'],
 ['Drinking : A Love Story',
  'CAROLINE KNAPP',
  1997,
  'http://images.amazon.com/images/P/0385315546.01.MZZZZZZZ.jpg'],
 ['Ursula K Le Guin : 5 Complete Novels',
  'Ursula K. Le Guin',
  1985,
  'http://images.amazon.com/images/P/0517480107.01.MZZZZZZZ.jpg']]

In [59]:
temp_df = df_ratings_name[df_ratings_name['User-ID']==882]
max_ratings = temp_df['Book-Rating'].max()
book =list( temp_df[temp_df['Book-Rating']==max_ratings].iloc[0][['Book-Title','Book-Author','Year-Of-Publication','Image-URL-M']].values)

In [60]:
book

['The Da Vinci Code',
 'Dan Brown',
 2003,
 'http://images.amazon.com/images/P/0385504209.01.MZZZZZZZ.jpg']

In [61]:
# pickle.dump(pt_user,open('pt_user.pkl','wb'))
# pickle.dump(user_similarity,open('user_similarity.pkl','wb'))
# pickle.dump(df_ratings_name,open('df_ratings_name.pkl','wb'))

## content based filtering

In [62]:
temp_df = df_ratings_name.groupby('Book-Title').count()['Book-Author'].reset_index()
temp_df = temp_df.rename(columns={'Book-Author':'views'})
temp_df.head(2)

                                          Book-Title  views
0   A Light in the Storm: The Civil War Diary of ...      4
1                              Always Have Popsicles      1

In [63]:
df_views = df_ratings_name.copy()

In [64]:
df_views = df_views.merge(temp_df,on=['Book-Title'])

In [66]:
#This dataframe also contains the no. of view of every books
df_views.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,views
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,60
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,60
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,60
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,60
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,60

In [134]:
author =df_views[df_views['Book-Title'] == 'Zoya']['Book-Author'].values[0]

In [135]:
author_books = df_views[(df_views['Book-Author'] == author) & (df_views['views']>50)]
author_books

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,views
70249,277427,0440170796,0,The Promise,Danielle Steel,1978,Dell,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,98
70250,278418,0440170796,0,The Promise,Danielle Steel,1978,Dell,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,98
70251,7158,0440170796,0,The Promise,Danielle Steel,1978,Dell,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,98
70252,8936,0440170796,0,The Promise,Danielle Steel,1978,Dell,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,98
70253,13552,0440170796,10,The Promise,Danielle Steel,1978,Dell,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,http://images.amazon.com/images/P/0440170796.0...,98
...,...,...,...,...,...,...,...,...,...,...,...
516459,232838,0385332963,0,Leap of Faith,Danielle Steel,2001,Delacorte Press,http://images.amazon.com/images/P/0385332963.0...,http://images.amazon.com/images/P/0385332963.0...,http://images.amazon.com/images/P/0385332963.0...,88
516460,257534,0385332963,9,Leap of Faith,Danielle Steel,2001,Delacorte Press,http://images.amazon.com/images/P/0385332963.0...,http://images.amazon.com/images/P/0385332963.0...,http://images.amazon.com/images/P/0385332963.0...,88
516461,258884,0385332963,8,Leap of Faith,Danielle Steel,2001,Delacorte Press,http://images.amazon.com/images/P/0385332963.0...,http://images.amazon.com/images/P/0385332963.0...,http://images.amazon.com/images/P/0385332963.0...,88
516462,143175,0553502611,7,Leap of Faith,Danielle Steel,2001,Random House Audio,http://images.amazon.com/images/P/0553502611.0...,http://images.amazon.com/images/P/0553502611.0...,http://images.amazon.com/images/P/0553502611.0...,88
516463,218552,0553502611,0,Leap of Faith,Danielle Steel,2001,Random House Audio,http://images.amazon.com/images/P/0553502611.0...,http://images.amazon.com/images/P/0553502611.0...,http://images.amazon.com/images/P/0553502611.0...,88

In [137]:
avg_rating = author_books.groupby('Book-Title').mean(numeric_only=True)

In [138]:
# famous_books=list(avg_rating[avg_rating['Book-Rating']>7.index)
famous_books=list(avg_rating[avg_rating['Book-Rating']>2.5].index) 
# the book same as user input might alos be recommended so filtering it
famous_books =[book for book in famous_books if book!='Zoya'] 
famous_books

['Accident',
 'Answered Prayers',
 'Bittersweet',
 'Dating Game',
 'Leap of Faith',
 'Love',
 'Malice',
 'Palomino',
 'Secrets',
 'Sunset in St. Tropez',
 'The Cottage',
 'The Ghost',
 'The Gift',
 'Wings']

In [148]:
author_books[author_books['Book-Title'].isin(famous_books)][['Book-Title','Book-Author','Year-Of-Publication','Image-URL-M','views']].drop_duplicates('Book-Title')

,Book-Title,Book-Author,Year-Of-Publication,Image-URL-M,views
70512,Secrets,Danielle Steel,1985,http://images.amazon.com/images/P/0385294182.0...,117
162544,Love,Danielle Steel,1989,http://images.amazon.com/images/P/0440153778.0...,69
176804,Wings,Danielle Steel,1995,http://images.amazon.com/images/P/0440217512.0...,91
181356,Palomino,Danielle Steel,1981,http://images.amazon.com/images/P/044056753X.0...,66
301058,The Gift,Danielle Steel,1994,http://images.amazon.com/images/P/038531292X.0...,222
338228,Malice,Danielle Steel,1996,http://images.amazon.com/images/P/0385306040.0...,96
364814,Answered Prayers,Danielle Steel,2002,http://images.amazon.com/images/P/0385335431.0...,82
382900,The Ghost,Danielle Steel,1998,http://images.amazon.com/images/P/0440224853.0...,125
414986,Accident,Danielle Steel,1994,http://images.amazon.com/images/P/0385306024.0...,126
421984,The Cottage,Danielle Steel,2002,http://images.amazon.com/images/P/0385335520.0...,98
453391,Dating Game,Danielle Steel,2003,http://images.amazon.com/images/P/0385336314.0...,78
472737,Sunset in St. Tropez,Danielle Steel,2003,http://images.amazon.com/images/P/0440236754.0...,82
494484,Bittersweet,Danielle Steel,1999,http://images.amazon.com/images/P/0385319576.0...,106
516376,Leap of Faith,Danielle Steel,2002,http://images.amazon.com/images/P/0440236991.0...,88

In [159]:
def content_recommend(book_name):
    #finding the name of the author
    author =df_views[df_views['Book-Title'] == book_name]['Book-Author'].values[0]
    # finding books written by author and the books have the views more than 50
    author_books = df_views[(df_views['Book-Author'] == author) & (df_views['views']>50)]
    
    #finding the avg-ratings for all books
    avg_rating = author_books.groupby('Book-Title').mean(numeric_only=True)
    
    famous_books=list(avg_rating[avg_rating['Book-Rating']>2.5].index) 
    # the book same as user input might also be recommended so filtering it
    famous_books =[book for book in famous_books if book!=book_name] 
    
    #finally returning the rows which has the famoust books and droping the duplicates since many user have read the same book
    suggestions = author_books[author_books['Book-Title'].isin(famous_books)][['Book-Title','Book-Author','Year-Of-Publication','Image-URL-M','views']].drop_duplicates('Book-Title').values
    
    return suggestions

In [160]:
content_recommend('The Lovely Bones: A Novel')

array([['Lucky : A Memoir', 'Alice Sebold', 2002,
        'http://images.amazon.com/images/P/0316096199.01.MZZZZZZZ.jpg',
        301],
       ['The Lovely Bones', 'Alice Sebold', 2004,
        'http://images.amazon.com/images/P/0316168815.01.MZZZZZZZ.jpg',
        103],
       ['Lucky', 'Alice Sebold', 1999,
        'http://images.amazon.com/images/P/0684857820.01.MZZZZZZZ.jpg',
        96]], dtype=object)

- I want to recommed the books on the basis of same author.
- If i simply recommed the books that the same author has written than there will be 100's of books. I can't just simply recommend the 100 books to the user
- so i did the filtering on the basis of ratings. I only recommended the books whose ratings are above the certain threshold.
- There is a problem if the books is rated high (9 or 10) only by 1 user due to which average rating will be high then my system will recommend the unpopular books which can be risky to recommend. since many users has not read it.
- so before finding the average rating i need to filter the books on the basis of no.of votes to do this i added the views column in the dataset
- If the author of the book is not very famous than there might not be any books to recommend

In [141]:
df_views[df_views['Book-Title']=='Ranch']

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,views
902925,112001,1568653239,9,Ranch,Danielle Steel,0,Bantam Doubleday Dell,http://images.amazon.com/images/P/1568653239.0...,http://images.amazon.com/images/P/1568653239.0...,http://images.amazon.com/images/P/1568653239.0...,1